{% extends "base.html" %}


{% block head  %}

{% endblock %}


{% block body  %}
<h1>Calculator</h1>


<form method = "POST">


<input type = "text" name = "num1" placeholder = "Enter the first number">
<input type = "text" name = "num2" placeholder = "Enter the second number">


<div class ="buttons"> 
    <button type = "submit" name = "operation" value = "add">Add</button> 
    <button type = "submit" name = "operation" value = "subtract" >Subtract</button> 
    <button type = "submit" name = "operation" value = "multiply" >Multiply</button> 
    <button type = "submit" name = "operation" value = "divide" >Divide</button> 
</div>

</form>

<h2>Result: {{result}}</h2>






{% endblock %}